# Rust / Anchor
target/
**/*.rlib
**/*.rmeta
**/*.a
**/*.so
**/*.dSYM/
**/*.dwp

# Node / Vite
node_modules/
dist/
.build/
.cache/
.next/
out/

# Logs & misc
*.log
.DS_Store
.env
.env.*
*.local

# IDE
.vscode/
.idea/
